<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" default-init-method="init" default-destroy-method="destory">

    <bean id="basket" class="com.johnmcgrath.springhelloworld.FruitBasket">
        <constructor-arg value="John's Basket"></constructor-arg>
        <constructor-arg>
            <list>
                <value>apple</value>
                <value>banana</value>
                <value>kiwi</value>
                <value>pear</value>
            </list>
        </constructor-arg>

    </bean>


</beans>